/* 
---- PROJECT PLANS ---
- Navgation Bar
- Hero Section
- About Section
- Achievement Section
- Portfolio -> My Work section
- Contact -> whre i work
- Footer
*/

/* **************** */
/* NAVIGATION BAR */
/* **************** */
.nav {
  font-weight: 700;
  display: flex;
  justify-content: space-between;

  /* border: 1px solid #eee; */
  box-shadow: 0px 2px 4px #aaa; /* độ bóng của khung*/

  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  background-color: #eee;
}

.nav-list {
  display: flex;
}

.nav-item,
.nav-search {
  display: flex;
  align-items: center;
  gap: 4px; /* khoảng cách từ icon đến chữ*/
  padding: 8px 16px;
}
.nav-item:hover {
  color: #000;
  background-color: #ccc;
}
.nav-search:hover {
  color: #fff;
  background-color: #f44336;
}
/* **************** */
/* HERO SECTION */
/* **************** */
.hero {
  background-image: url(../img/hero-background.jpg);
  height: 800px;
}
.hero-box {
  background-color: #000;
}

/* **************** */
/* ABOUT SECTION */
/* **************** */

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info-img-box {
  padding: 55px 32px;
}

.info-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  gap: 5px; /* khoảng cách 5px từ icon vào */
}

.info-img {
  width: 100%;
  opacity: 0.5;
}

.info-img:hover {
  opacity: 1;
}

.info-text-box {
  padding: 55px 32px;
}

.interest-title {
  text-align: center;
}

.interest-box {
  margin-bottom: 16px;
}

.interest-name {
  display: flex;
  align-items: center;
  gap: 12px;
  letter-spacing: 10px;
  margin-bottom: 16px;
}

.interest-rate-box {
  height: 36px;
  background-color: #eee;
}

.interest-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #333;
}

.rate-90 {
  width: 90%;
}

.rate-85 {
  width: 85%;
}

.rate-75 {
  width: 75%;
}

.interest-rate-number {
  color: white;
}

/* **************** */
/* ACHIEVEMENT SECTION */
/* **************** */
.achievement {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  color: #eee;
  padding: 24px 0;
  text-align: center;
}
.achievement-number {
  font-size: 24px;
}

/* **************** */
/* ACHIEVEMENT SECTION */
/* **************** */

.portfolio {
  background-image: url(..//img/PORTFOLIO-BG.jpg);
  height: 400px;
}

/* **************** */
/* MY WORK SECTION */
/* **************** */

.work {
  width: 950px;
  margin: 60px auto;
}
.work-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 40px 0;
}
.gallery-img {
  width: 100%;
}

.gallery-img:hover {
  opacity: 0.7;
}

/* **************** */
/* CONTACT   SECTION */
/* **************** */

.contact {
  background-image: url(../img/gallery/CONTACT.jpg);
  height: 400px;
}

/* **************** */
/* WHERE I WORK   SECTION */
/* **************** */

.address-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  margin: 50px 0;
}
.address-img {
  width: 100%;
  border-radius: 6px; /* bo cong vien anh */
}
.address-detail-main {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 24px;
}
.address-detail-icon {
  font-size: 24px;
  opacity: 0.7;
}
.address-detail-icon:hover {
  /* lop gia~*/
  opacity: 1;
}
